@CHARSET "UTF-8";
.banner{width:1024px;height:182px;background:url(/newresources/images/aboutUs/banner.png) no-repeat;position:relative;}
.banner .content{width:180px;height:56px;color:#fff;position:absolute;top:78px;left:422px;}
.banner .content .con1{font-size:25px;height:25px;line-height:25px;}
.banner .content .con2{font-size:16px;height:16px;line-height:16px;margin-top:15px;text-align:center;}
.main{width:984px;height:auto;margin-top:40px ;margin-left:20px;}
.main .font1{color:#333}
.main .font2{color:#555;font-size:13px;font-weight:bold;vertical-align:bottom;margin-left:5px;}
.main .font3{color:#777}
.main .map{width:984px;height:315px;}
.mt60{margin-top:60px;}
.mt40{margin-top:40px;}